@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sofia&display=swap');

.logo {
    width: 50px;
    height: 50px;
    margin: 3px;
}

.icon {
    color: white;
}

ul .navitem {
    color: rgb(148, 148, 148);
    font-size: 1.4rem;
}

ion-icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.logotxt {
    color: white;
    font-family: "Sofia", cursive;
    font-weight: 1000;
    background: linear-gradient(to right, #03eb7f, #01c298);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.active {
    color: rgb(255, 255, 255);
}

ul .navitem {
    position: relative;
    padding: 0 7px;

}

ul .navitem:after {
    content: "";
    position: absolute;
    background-color: rgb(0, 255, 128);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.7s;
}

ul .navitem:hover:after {
    width: 100%;
}