* {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}



body {
  background-image: linear-gradient(to top left, rgb(11, 16, 27), rgb(7, 10, 24), rgb(15, 18, 25), rgb(18, 15, 30));
  background-repeat: no-repeat;
  overflow-x: hidden;
  scroll-behavior: smooth;

}